
body{
	min-width:1264px;
}

#gamepanel{
	margin-left:320px;
	margin-right:32px;
}

#leftnav{
	width:256px;
	margin-left:32px;
	position:absolute;
	border:1px #C0C0C0 dashed;
}

.page-header{
	margin-top:0px;
	margin-right:16px;
}

.header_thumb{
	margin-left:16px;
}

#infotable td:first_of_type{
	width:40%;
}

#infotable,#ratingtable,#safetytable tr{
	border-left:1px rgba(0,0,0,0.1) solid;
	border-right:1px rgba(0,0,0,0.1) solid;
	border-bottom:1px rgba(0,0,0,0.1) solid;
}

#game_thumbs{
	width:16%;
	height:100%;
	float:right;
}

#game_artthumb{
	margin:0px;
}

#info{
	width:35%;
	float:right;
}

#reader{
	width:65%;
	position:relative;
	float:left;
}

.breadcrumb{
	margin-left:32px;
	margin-right:32px;
}

.tableheader{
	text-align:center;
}

#buttonholder{
	float:right;
	margin-right:16px;
	margin-top:16px;
}

.bodytext{
	margin-right:16px;
}

.flag{
	width:32px;
	margin-top:-6px;
	float:left;
	margin-left:8px;
	margin-right:8px;
}

#ratingtable{
	text-align:center;
	width:45%;
	float:left;
}

#safetytable{
	text-align:center;
	width:45%;
	margin-right:16px;
	float:right;
}

#ratingsection{
	min-height:250px;
}

.ratings{
	height:64px;
}

#screenthumb{
	width:128px;
	height:128px;
	margin:0px;
}

.goodRating{
	color:#00C000;
}
#screens{
	width:100%;
	display:inline-block;
}

#media{
	width:128px;
}

.media-object{
	height:96px;
	width:96px;
}

.media{
	margin-right:16px;
}